body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: gold;
    font-size: 40px;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

#myVideo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -100;
    right: 0;
    bottom: 0;
    background-size: cover;
    overflow: hidden;
}

.seperator1 {
    height: 100px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: gold;
    background-image: url("https://starlingdays.com/media/color.png?alt=media&token=696fe74f-1632-409d-a108-bdd1258ba1cc");
    opacity: 80%;
}

@media (min-width: 1px) {
    .middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: gold;
        background-image: url("https://starlingdays.com/media/color.png?alt=media&token=696fe74f-1632-409d-a108-bdd1258ba1cc");
        opacity: 80%;
        z-index: 1;
    }
    button {
        z-index: 1;
    }
    .btn1 {
        position: absolute;
        top: 30%;
        left: 0%;
        background-color: #2E4857;
        color: gold;
        font-size: 30px;
        transform: rotate(10deg);
        opacity: 80%;
    }
    .btn1:hover {
        color: gold;
        background-color: #2E4857;
        border-color: yellow;
        opacity: 90%;
    }
    .btn2 {
        position: absolute;
        top: 50%;
        left: 1%;
        background-color: #2E4857;
        color: gold;
        font-size: 30px;
        transform: rotate(-10deg);
        opacity: 80%;
    }
    .btn2:hover {
        color: gold;
        background-color: #2E4857;
        border-color: yellow;
        opacity: 90%;
    }
    .btn3 {
        position: absolute;
        top: 65%;
        left: 10%;
        background-color: #2E4857;
        color: gold;
        font-size: 30px;
        transform: rotate(10deg);
        opacity: 80%;
    }
    .btn3:hover {
        color: gold;
        background-color: #2E4857;
        border-color: yellow;
        opacity: 90%;
    }
    .btn4 {
        position: absolute;
        top: 50%;
        left: 75%;
        background-color: #2E4857;
        color: gold;
        font-size: 30px;
        transform: rotate(10deg);
        opacity: 80%;
    }
    .btn4:hover {
        color: gold;
        background-color: #2E4857;
        border-color: yellow;
        opacity: 90%;
    }
    .btn5 {
        position: absolute;
        top: 30%;
        left: 60%;
        background-color: #2E4857;
        color: gold;
        font-size: 30px;
        transform: rotate(-10deg);
        opacity: 80%;
    }
    .btn5:hover {
        color: gold;
        background-color: #2E4857;
        border-color: yellow;
        opacity: 90%;
    }
    .btn6 {
        position: absolute;
        top: 65%;
        left: 60%;
        background-color: #2E4857;
        color: gold;
        font-size: 30px;
        transform: rotate(10deg);
        opacity: 80%;
    }
    .btn6:hover {
        color: gold;
        background-color: #2E4857;
        border-color: yellow;
        opacity: 90%;
    }
}

@media (min-width: 480px) {
    .btn1 {
        position: absolute;
        top: 35%;
        left: 5%;
        background-color: #2E4857;
        color: gold;
        font-size: 30px;
        transform: rotate(10deg);
        opacity: 80%;
    }
    .btn1:hover {
        color: gold;
        background-color: #2E4857;
        border-color: yellow;
        opacity: 90%;
    }
    .btn2 {
        position: absolute;
        top: 50%;
        left: 15%;
        background-color: #2E4857;
        color: gold;
        font-size: 30px;
        transform: rotate(-10deg);
        opacity: 80%;
    }
    .btn2:hover {
        color: gold;
        background-color: #2E4857;
        border-color: yellow;
        opacity: 90%;
    }
    .btn3 {
        position: absolute;
        top: 65%;
        left: 15%;
        background-color: #2E4857;
        color: gold;
        font-size: 30px;
        transform: rotate(10deg);
        opacity: 80%;
    }
    .btn3:hover {
        color: gold;
        background-color: #2E4857;
        border-color: yellow;
        opacity: 90%;
    }
    .btn4 {
        position: absolute;
        top: 30%;
        left: 75%;
        background-color: #2E4857;
        color: gold;
        font-size: 30px;
        transform: rotate(10deg);
        opacity: 80%;
    }
    .btn4:hover {
        color: gold;
        background-color: #2E4857;
        border-color: yellow;
        opacity: 90%;
    }
    .btn5 {
        position: absolute;
        top: 50%;
        left: 67%;
        background-color: #2E4857;
        color: gold;
        font-size: 30px;
        transform: rotate(-10deg);
        opacity: 80%;
    }
    .btn5:hover {
        color: gold;
        background-color: #2E4857;
        border-color: yellow;
        opacity: 90%;
    }
    .btn6 {
        position: absolute;
        top: 70%;
        left: 65%;
        background-color: #2E4857;
        color: gold;
        font-size: 30px;
        transform: rotate(10deg);
        opacity: 80%;
    }
    .btn6:hover {
        color: gold;
        background-color: #2E4857;
        border-color: yellow;
        opacity: 90%;
    }
    .middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: gold;
        background-image: url("https://starlingdays.com/media/color.png?alt=media&token=696fe74f-1632-409d-a108-bdd1258ba1cc");
        opacity: 80%;
        z-index: 1;
    }
}

@media (min-width: 600px) {
    .btn1 {
        position: absolute;
        top: 40%;
        left: 15%;
        background-color: #2E4857;
        color: gold;
        font-size: 30px;
        transform: rotate(10deg);
        opacity: 80%;
    }
    .btn1:hover {
        color: gold;
        background-color: #2E4857;
        border-color: yellow;
        opacity: 90%;
    }
    .btn2 {
        position: absolute;
        top: 50%;
        left: 20%;
        background-color: #2E4857;
        color: gold;
        font-size: 30px;
        transform: rotate(-10deg);
        opacity: 80%;
    }
    .btn2:hover {
        color: gold;
        background-color: #2E4857;
        border-color: yellow;
        opacity: 90%;
    }
    .btn3 {
        position: absolute;
        top: 66%;
        left: 25%;
        background-color: #2E4857;
        color: gold;
        font-size: 30px;
        transform: rotate(10deg);
        opacity: 80%;
    }
    .btn3:hover {
        color: gold;
        background-color: #2E4857;
        border-color: yellow;
        opacity: 90%;
    }
    .btn4 {
        position: absolute;
        top: 40%;
        left: 70%;
        background-color: #2E4857;
        color: gold;
        font-size: 30px;
        transform: rotate(10deg);
        opacity: 80%;
    }
    .btn4:hover {
        color: gold;
        background-color: #2E4857;
        border-color: yellow;
        opacity: 90%;
    }
    .btn5 {
        position: absolute;
        top: 51%;
        left: 70%;
        background-color: #2E4857;
        color: gold;
        font-size: 30px;
        transform: rotate(-10deg);
        opacity: 80%;
    }
    .btn5:hover {
        color: gold;
        background-color: #2E4857;
        border-color: yellow;
        opacity: 90%;
    }
    .btn6 {
        position: absolute;
        top: 66%;
        left: 65%;
        background-color: #2E4857;
        color: gold;
        font-size: 30px;
        transform: rotate(10deg);
        opacity: 80%;
    }
    .btn6:hover {
        color: gold;
        background-color: #2E4857;
        border-color: yellow;
        opacity: 90%;
    }
    .middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: gold;
        background-image: url("https://starlingdays.com/media/color.png?alt=media&token=696fe74f-1632-409d-a108-bdd1258ba1cc");
        opacity: 80%;
        z-index: 1;
    }
}

.instagram {
    position: relative;
    top: -10%;
    left: 45%;
}

.facebook {
    position: relative;
    top: -10%;
    left: 50%;
}

.tagembed-container {
    position: absolute;
    top: 0%;
    left: 0%;
}

.backbtn {
    position: fixed;
    top: 5%;
    left: 5%;
    background-color: #2E4857;
    color: gold;
    font-size: 30px;
    transform: rotate(10deg);
    opacity: 80%;
}

.backbtn:hover {
    color: gold;
    background-color: #2E4857;
    border-color: yellow;
    opacity: 90%;
}

.btn1-contact {
    position: absolute;
    top: 70%;
    left: 10%;
    background-color: #2E4857;
    color: gold;
    font-size: 30px;
    transform: rotate(10deg);
    opacity: 80%;
}

.btn1-contact:hover {
    color: gold;
    background-color: #2E4857;
    border-color: yellow;
    opacity: 90%;
}

.btn2-contact {
    position: absolute;
    top: 70%;
    left: 50%;
    background-color: #2E4857;
    color: gold;
    font-size: 30px;
    transform: rotate(-10deg);
    opacity: 80%;
}

.btn3-contact {
    position: absolute;
    top: 30%;
    left: 30%;
    background-color: #2E4857;
    color: gold;
    font-size: 30px;
    transform: rotate(-10deg);
    opacity: 80%;
}

.btn3-contact:hover {
    color: gold;
    background-color: #2E4857;
    border-color: yellow;
    opacity: 90%;
}

@media (min-width:930px) {
    .btn1-contact {
        position: absolute;
        top: 70%;
        left: 30%;
        background-color: #2E4857;
        color: gold;
        font-size: 30px;
        transform: rotate(10deg);
        opacity: 80%;
    }
    .btn1-contact:hover {
        color: gold;
        background-color: #2E4857;
        border-color: yellow;
        opacity: 90%;
    }
    .btn2-contact {
        position: absolute;
        top: 70%;
        left: 50%;
        background-color: #2E4857;
        color: gold;
        font-size: 30px;
        transform: rotate(-10deg);
        opacity: 80%;
    }
    .btn3-contact {
        position: absolute;
        top: 30%;
        left: 40%;
        background-color: #2E4857;
        color: gold;
        font-size: 30px;
        transform: rotate(-10deg);
        opacity: 80%;
    }
    .btn3-contact:hover {
        color: gold;
        background-color: #2E4857;
        border-color: yellow;
        opacity: 90%;
    }
}

@media (min-width:1300px) {
    .btn1-contact {
        position: absolute;
        top: 70%;
        left: 35%;
        background-color: #2E4857;
        color: gold;
        font-size: 30px;
        transform: rotate(10deg);
        opacity: 80%;
    }
    .btn1-contact:hover {
        color: gold;
        background-color: #2E4857;
        border-color: yellow;
        opacity: 90%;
    }
    .btn2-contact {
        position: absolute;
        top: 70%;
        left: 50%;
        background-color: #2E4857;
        color: gold;
        font-size: 30px;
        transform: rotate(-10deg);
        opacity: 80%;
    }
    .btn3-contact {
        position: absolute;
        top: 30%;
        left: 40%;
        background-color: #2E4857;
        color: gold;
        font-size: 30px;
        transform: rotate(-10deg);
        opacity: 80%;
    }
    .btn3-contact:hover {
        color: gold;
        background-color: #2E4857;
        border-color: yellow;
        opacity: 90%;
    }
}